# Database
DATABASE_URL=database-url-placeholder

# Redis
REDIS_URL=redis-url-placeholder

# Auth
SECRET_KEY=secret-key

#Twilio
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx

#Anthropic
ANTHROPIC_API_KEY=anthropic-api-key-placeholder